.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.text h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-size: 250px;
  font-weight: 200;
  white-space: nowrap;
  text-align: center;
  /* word-spacing: 10px; */
}